$purpleGradient: linear-gradient(180deg, #C32AFF 0%, #9013FE 100%);
$greyGradient: linear-gradient(180deg, rgba(255, 255, 255, 0.227072) 0%, rgba(0, 0, 0, 0.5) 100%), #FFFFFF;
$homeTitleColor: #0070f3;

$footerBorderColor: #222;
$footerBackgroundColor: #f8f8f8;

$homeBlinkTextBackground: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%);
$homeBlinkTextShadow: 0px 2px 2px rgba(0, 0, 0, 0.5);

$aboutBackgroundColor: #000;
$aboutTextColor: #ffbe00;
$aqua: #50E3C2;
$darkGrey: #4A4A4A;

$modalBackgroundColor: #D8D8D8;
$modalTextColor: #D0021B;

$gradientYellow: #FAD961;
$gradientOrange: #F76B1C;
