@import 'colors';
@import 'variables';

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: $navbarHeight;
    background: $purpleGradient;
    font-family: 'C64-Pro';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.6em + 0.7vw);
    line-height: 2vh;
}

.navbar * {
    display: inline;
}

.navbar li {
    background: $greyGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar li:hover {
    color: $aqua;
    text-fill-color: $aqua;
    -webkit-text-fill-color: $aqua;
}